{% extends "base.html" %}

{% block page_title %}
Beneficiary Management
{% endblock %}

{% block H1_Description %}
Add a beneficiary
{% endblock %}

{% block H1_Content %}
Please fill up the form in the below section to add a beneficiary
{% endblock %}

{% block H2_Description %}
Please fill up the following form
{% endblock %}

{% block H2_Content %}
  <form action = "http://localhost:5000/add_recipe" method = "post">
  <label for="recipename">Recipe Name:</label><br>
  <input type="text" id="recipename" name="recipename" value="Tomato Soup"><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}