{% extends "base.html" %}

{% block page_title %}
Recipe Management
{% endblock %}

{% block H1_Description %}
Welcome to the website!
{% endblock %}

{% block H1_Content %}
Welcome to the website of the Recipe Management Foundation. Please use the menu above to navigate the different web pages.
This is for the Advanced Python Term Project.
{% endblock %}

{% block H2_Description %}
Please choose from the options on the menu above!
{% endblock %}

{% block H2_Content %}
You can add recipes, remove recipes and look up recipes with the menu on the website.
{% endblock %}