{% extends "base.html" %}

{% block page_title %}
Beneficiary Management
{% endblock %}

{% block H1_Description %}
Welcome to the website!
{% endblock %}

{% block H1_Content %}
Welcome to the website of Beneficiary Management foundation. Please use the menu above to navigate the different web pages.
This is just an example for the class students
{% endblock %}

{% block H2_Description %}
Please choose from the options on the menu above!
{% endblock %}

{% block H2_Content %}
You can add beneficiaries, remove beneficiaries and look up beneficiaries with the menu on the website.
{% endblock %}