{% extends "base.html" %}
{% from "form-macros.html" import render_field %}

{% block page_title %}
Recipe Management
{% endblock %}

{% block H1_Description %}
Remove a recipe from database
{% endblock %}

{% block H1_Content %}
Please fill the form in the below section to remove an existing recipe.
{% endblock %}

{% block H2_Description %}
Please fill up the following form to perform removal
{% endblock %}

{% block H2_Content %}
<section>
    <form action="/remove_recipe_auto" enctype="multipart/form-data" method="post">
        {{ search_form.csrf_token }}
<div class="row">
    <div class="col-md-2">
        <h3>Remove Recipe</h3>
        <table>
            {{ render_field(search_form.search_name, size=40) }}
        </table>
    </div>
    <table>
        <tr class="submit">
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
    </div>
    </form>
    </section>
{% endblock %}