{% extends "base.html" %}
{% from "form-macros.html" import render_field %}

{% block page_title %}
View All Recipes
{% endblock %}

{% block H1_Description %}
View All Recipes
{% endblock %}

{% block H1_Content %}
All recipes that are currently in the database:
{% endblock %}

{% block H2_Description %}
{% endblock %}

{% block H2_Content %}
<section>
{% for recipe in recipes %}
            <figure>
                <a href="{{ url_for('render_information', name = recipe[2]) }}">
                    <img class="recipe-image" src="static/image_dir/{{ item[0] }}" alt="{{ item[1] }}">
                </a>
            </figure>
        {% endfor %}
    </section>
{% endblock %}