{% extends "base.html" %}

{% block page_title %}
View All Recipes
{% endblock %}

{% block H1_Description %}
View All Recipes
{% endblock %}

{% block H1_Content %}
All recipes that are currently in the database:
{% endblock %}

{% block H2_Description %}
{% endblock %}

{% block H2_Content %}
    <section>
{% for recipe in recipes %}
            <figure>
                <a href="{{ url_for('render_information', name = recipe[2]) }}">
                    <div class="recipe_image">
                        <img src="static/image_dir/{{ recipe[0] }}" alt="">
                        <figcaption class="view-recipe-caption">{{ recipe[1] }}</figcaption>
                    </div>
                </a>
            </figure>
        {% endfor %}
    </section>
{% endblock %}